<html>
    <head>
		<title>Notebook</title>
		<style type="text/css">
			html {
				background-color: #3e3d39;
				color: #dfdbd2;
				font-family: arial;
			}
			body {
				margin: 0px 15px ;
			}
			a:link, a:active, a:visited {
				text-decoration: none;
				color:rgb(80, 176, 255);
			}
			a:hover {
				font-weight: bold;
				color: dodgerblue;
				/*text-shadow: 1px 1px 5px #dfdbd2;*/
			}
			H3 {
				background-color: #464540;
			}
			dd {
				color: grey;
			}
			#linkZeile {
				margin: 10px 10px 10px 0px;
				padding: 1px 1px 1px 1px;
				background-color: #464540;
				color:gray;
			}
/*			img {
				float: right;
			} */
			.clearfix {
				overflow: auto;
			}
		</style>
    </head>
    <body>
		<h1>Notebook</h1>

		<!--Eingabebereich-->
		<div>
			<form action="/onNeueNotiz" method="POST">
				Notiz:<br>
				<textarea type="text" name="notiz"></textarea><br>
				<input type="text" name="link" placeholder="Link-URL einfügen"> <br>
				<input type="text" name="linkName" placeholder="Link-Name einfügen (optional)"> <br>
				Ordner:<br>
				<input type="radio" name="ordner" value="HAW"> HAW<br>
				<input type="radio" name="ordner" value="Youtube"> Youtube<br>
				<br>
				<button type="submit">hinzufügen</button>
			</form>
		</div>

		<!--Auflistung der Tabelle-->
		<div>
			Datenbank-Inhalt:<br>
			<form action="/onOrdnerAuswahl" method="POST">
				<button type="submit" name="ordner" value="HAW">HAW</button>
				<button type="submit" name="ordner" value="Youtube">Youtube</button>
			</form>

		    <div>
			<% for(var i = rows.length-1; i >= 0; i--) { %>
				<div id="linkZeile" class="clearfix">
					<% if(ckeckForImage(rows[i].link) == true) { %>
					<dt><img src="<%= rows[i].link %>" alt="<%= rows[i].linkName %>"></dt>
					<% } else { %>
					<dt><a href="<%= rows[i].link %>" target="_blank"><%= rows[i].linkName %></a></dt>
					<% } %>
					<dt style="white-space:pre-wrap; word-wrap:break-word; color:#dfdbd2"><%= rows[i].notiz %></dt>
					<dt style="bottom: 0; left: 0;"><%= rows[i].dateTime %></dt>
				</div>
			<%}%>
			</div>
		</div>

    </body>
</html>