<html>
    <head>
		<title>Notebook</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<style type="text/css">
			.clearfix {
				overflow: auto;
			}
			#cont_28682c977b12af75f0de2c7e8b8ff50c {
				float: right;
				top: 0;
				right: 0;
			}
		</style>
    </head>
    <body>
		<!--dasWetter-->
		<div id="cont_28682c977b12af75f0de2c7e8b8ff50c"><script type="text/javascript" async src="https://www.daswetter.com/wid_loader/28682c977b12af75f0de2c7e8b8ff50c"></script></div>
		<!--Eingabebereich-->
		<div class="container">
			<button data-toggle="collapse" data-target="#eingabeNeueNotiz">Neue Eingabe</button>
			<button data-toggle="collapse" data-target="#eingabeNeuerOrdner">Neue Eingabe</button>

			<!--Eingabebereich Neue Notiz-->
			<div id="eingabeNeueNotiz" class="collapse">
			<form action="/onNeueNotiz" method="POST">
				<div class="form-group">
					<label for="sel1">Comment:</label>
					<textarea class="form-control" rows="5" id="sel1" type="text" name="notiz" placeholder="Write something here..."></textarea>
					<input class="form-control" type="text" name="link" placeholder="Link-URL einf체gen">
					<input class="form-control" type="text" name="linkName" placeholder="Link-Name einf체gen (optional)">
				</div>
				<div class="form-group">
					<label for="sel2">Speicherort ausw채hlen:</label>
					<select class="form-control" id="sel2" name="ordner">
					<% for(var i = 0; i < ordner.length; i++) { %>
						<option name="ordner" value="<%= ordner[i].ordner %>"><%= ordner[i].ordner %></option>
					<%}%>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Notiz Speichern</button>
			</form>
			</div>

			<!--Eingabebereich Neuer Ordner-->
			<div id="eingabeNeuerOrdner" class="collapse">
			<form action="/onNeuerOrdner" method="POST">
				<div class="form-group">
					<label for="sel3">Neuer Ordner:</label>
					<input class="form-control" type="text" id="sel3" name="ordner" placeholder="Hier Namen f체r neuen Ordner eingeben.">					
				</div>
				<button type="submit" class="btn btn-primary">Neuen Ordner Speichern</button>
			</form>
			</div>
		</div>





		<!--Auflistung der Tabelle-->
		<div>
			Datenbank-Inhalt:<br>
			<form action="/onOrdnerAuswahl" method="POST">
				<% for(var i = ordner.length-1; i >= 0; i--) { %>
					<button type="submit" name="ordner" value="<%= ordner[i].ordner %>"><%= ordner[i].ordner %></button>
				<%}%>
			</form>

		    <div>
			<% for(var i = notes.length-1; i >= 0; i--) { %>
				<div id="linkZeile" class="clearfix">
					<% if(ckeckForImage(notes[i].link) == true) { %>
					<dt><img src="<%= notes[i].link %>" alt="<%= notes[i].linkName %>"></dt>
					<% } else { %>
					<dt><a href="<%= notes[i].link %>" target="_blank"><%= notes[i].linkName %></a></dt>
					<% } %>
					<dt style="white-space:pre-wrap; word-wrap:break-word; color:#dfdbd2"><%= notes[i].notiz %></dt>
					<dt style="bottom: 0; left: 0;"><%= notes[i].dateTime %></dt>
				</div>
			<%}%>
			</div>
		</div>

    </body>
</html>