<html>
    <head>
		<title>Notebook</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<style type="text/css">
			body {
				background-color: #333333;
				color: #dfdbd2;
			}
			a.notizLinks:link, a.notizLinks:active, a.notizLinks:visited {
				text-decoration: none;
				color:rgb(80, 176, 255);				
			}
			a.notizLinks:hover {
				font-weight: bold;
				color: dodgerblue;
				text-shadow: 1px 1px 5px #3e3d39;
			}
			button.navi {
				background-color: #222222;
				color: #9d9d9d;
				margin-top: 8px;
			}
			button.navi:hover {
				background-color: #222222;
				color: white;
			}
			div, a, li {
				/*border: 1px solid #4CAF50;*/
			}
			div.innenabst {
				padding: 5px;
			}
			input {
				margin-top: 4px;
			}
			.clearfix {
				overflow: auto;
			}
			#linkZeile {
				margin: 10px 0px 0px 0px;
				background-color: #444444;
			}
			#Ueberschrift {
				font-weight: normal;
			}
		</style>
    </head>
    <body>
		<a name="Seitenbeginn"></a>
		<!--Main Navbar-->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">#YourBook#</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="notebook">Notebook</a></li>
					<li><a href="messenger">Messenger</a></li>
					<li><a href="profile">Profile</a></li>
					<li><a href="dashboard">Dashboard</a></li>
					<li><a href="allUsers">Browse Users</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div> 
		</nav>
		
		<!--Eingabebereich-->
		<div class="container">

			<!--Eingabebereich Neue Notiz-->
			<div id="eingabeNeueNotiz" class="collapse">
			<form action="/onNeueNotiz" method="POST">
				<div class="form-group">
					<label for="sel1">Comment:</label>
					<textarea class="form-control" rows="5" id="sel1" type="text" name="notiz" placeholder="Write something here..."></textarea>
					<input class="form-control" type="text" name="link" placeholder="Link-URL einf체gen">
					<input class="form-control" type="text" name="linkName" placeholder="Link-Name einf체gen (optional)">
				</div>
				<div class="form-group">
					<label for="sel2">Speicherort ausw채hlen:</label>
					<select class="form-control" id="sel2" name="ordner">
					<% for(var i = 0; i < ordner.length; i++) { %>
						<option name="ordner" value="<%= ordner[i].ordner %>"><%= ordner[i].ordner %></option>
					<%}%>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Notiz Speichern</button>
			</form>
			</div>

			<!--Eingabebereich Neuer Ordner-->
			<div id="eingabeNeuerOrdner" class="collapse">
			<form action="/onNeuerOrdner" method="POST">
				<div class="form-group">
					<label for="sel3">Neuer Ordner:</label>
					<input class="form-control" type="text" id="sel3" name="ordner" placeholder="Hier Namen f체r neuen Ordner eingeben.">					
				</div>
				<button type="submit" class="btn btn-primary">Neuen Ordner Speichern</button>
			</form>
			</div>
		</div>

		<!--Auflistung der Tabelle-->
		<div class="container" style="margin-bottom: 10px;">
			<form action="/onOrdnerAuswahl" method="POST">
				<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>                        
							</button>
							<a class="navbar-brand" href="notebook">Notebook</a>
							</div>
							<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav">
								<% for(var i = ordner.length-1; i >= 0; i--) { %>
								<button class="btn navi" type="submit" name="ordner" value="<%= ordner[i].ordner %>"><%= ordner[i].ordner %></button>
								<%}%>						
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a data-toggle="collapse" data-target="#eingabeNeueNotiz" href="#">Neue Notiz</a></li>
								<li><a data-toggle="collapse" data-target="#eingabeNeuerOrdner" href="#">Neuen Ordner Erstellen</a></li>
							</ul>
							</div>
						</div>
				</nav>
			</form>
			<!--Linkzeilen-->
			<% for(var i = notes.length-1; i >= 0; i--) { %>
				<div id="linkZeile" class="clearfix" style="border-radius: 4px;">
					<dt style="color: #666666; float:right; margin:5px;"><%= notes[i].dateTime %></dt>
					<% if(ckeckForImage(notes[i].link) == true) { %>
					<dt><img src="<%= notes[i].link %>" style="max-width: 300px; max-height: 300px; float: left; margin-right: 10px;" alt="<%= notes[i].linkName %>"></dt>
					<% } else { %>
					<dt style="margin:5px"><a href="<%= notes[i].link %>" class="notizLinks" target="_blank"><%= notes[i].linkName %></a></dt>
					<% } %>
					<dt style="white-space:pre-wrap;word-wrap:break-word;color:#dfdbd2;margin:5px;"><%= notes[i].notiz %></dt>
				</div>
			<%}%>
		</div>
		<div class="navbar-fixed-bottom" style="background-color: rgba(255, 255, 255, 0.3);padding:3px;">
			<a title="Zum Seitenbeginn springen" href="#Seitenbeginn"><i class="fas fa-arrow-up" style="font-size:24px;color:white;margin-left: 0.5%;"></i></a>
		</div>
    </body>
</html>